body {
  font-weight: 500;
  font-family: Calibri;
  background-color: #F5F7FA;
}

.tops {
  background: url("web/0.jpg")
  no-repeat center fixed;
  background-size: cover;
}

.login {
  background: url("web/0.jpg")
  no-repeat center fixed;
  background-size: cover;
}

.sigin {
  background: url("web/sg.jpg")
  no-repeat center fixed;
  background-size: cover;
}

.screen {
  min-height: 100vh;
  margin-top: 70px;
  margin-bottom: 20px;
}

.bg_dark {
  background-color:
  rgba(0, 0,0, 0.80)!important;
  border-top: solid 1px indigo;
  border-bottom: solid 1px gray;
  box-shadow: 0px 0px 20px 0px black;
}

.footers {
  padding: 10px 0px;
  background-color:
  rgba(0, 0, 0, 0.80)!important;
  border-top: solid 1px gray;
  box-shadow: 0px 0px 20px 0px black;
}

.bg_home  {
  background-color:
  rgba(0, 0, 0, 0.60);
  border-top: solid 1px indigo;
  border-bottom: solid 1px gray;
  box-shadow: 0px 0px 10px 1px aqua;
}

.footers_home {
  padding: 10px 0px;
  background-color:
  rgba(0, 0, 0, 0.60);
  border-top: solid 1px gray;
  box-shadow: 0px 0px 10px 1px aqua;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  border: solid 2px silver;
  -webkit-animation: move 1s infinite;
  animation: move 1s infinite;
  vertical-align: middle;
}

@-webkit-keyframes move {
  from {background-color: white ;}
  to {background-color: black;}
}

@keyframes move {
  from {background-color: white;}
  to {background-color: black;}
}

a:link {
  text-decoration: none;
}

.nav-link {
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 2px;
  color: white !important;
}

.nav-link:hover {
  -webkit-animation: text 0.50s infinite;
  animation: text 0.50s infinite;
}

@-webkit-keyframes text {
  from {color: indigo;}
  to {color: aqua;}
}

@keyframes text {
  from {color: indigo;}
  to {color: aqua;}
}

.btn-outline-success {
  color: lightgreen;
  border-color: aqua;
}

.box {
  display: inline-block;
  transition: 0.50s ease;
  background-color: white;
  border: solid 1px indigo;
}

.box:hover {
  border-color: transparent;
  background-color: transparent;
  box-shadow: 0px 0px 20px 0px indigo;
  filter: brightness(1.50) !important;
}

.pages {
  font-size: 16px;
  font-family: sans-serif;
}

.next {
  width: 25px;
  height: 25px;
  color: green;
  margin: 0px 5px;
  border-radius: 50%;
  display: inline-block;
  transition: 0.50s ease;
  border:solid 1px indigo;
}

.next:hover {
  color: indigo;
  border-color: white;
  background-color: white;
  box-shadow: 0px 0px 20px 1px yellow;
}

.telegram {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.50s ease;
}

.telegram:hover {
  color: yellow;
}

.myicon {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.55s ease;
  border: solid 2px indigo;
}

.myicon:hover {
  box-shadow: 0px 0px 20px 5px yellow;
}

.network {
  margin-top: 7px;
  padding: 2px 4px;
  border-radius: 10px;
  display: inline-block;
  border: solid 1px aqua; 
}

.internet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: contrast(1);
  transition: 0.50s ease;
  border: solid 2px indigo;
}

.internet:hover {
  filter: contrast(3);
  border-color: white;
  box-shadow: 0px 0px 10px 0px yellow;
}

.regs {
  min-height: 100vh;
  padding: 200px 0px;
}

.regs_card {
  margin: auto;
  width: 400px;
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 40px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px aqua;
  background-color:rgba(0, 60, 60, 0.30);
}

.sig {
  min-height: 100vh;
  padding: 200px 0px;
}

.sign_logo {
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 50%;
  border: solid 2px white;
}

.sig_card {
  margin: auto;
  width: 700px;
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  border: solid 1px gray;
  background-color:rgba(0, 0, 0, 0.60);
  box-shadow: 0px 0px 20px 0px aqua;
}

.main_logo {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main_title {
  color: green;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 1px;
}

.main_text {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  margin: 10px;
  color: indigo;
  font-size: 15px;
  line-height: 28px;
}

.main_card {
  width: 220px;
  max-width: 250px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  transition: 0.30s ease;
  border: solid teal 1px;
  background-color: white;
}

.main_card:hover {
  border-color: transparent;
  background-color: #FFFFC9;
  border-radius: 50px 0px 50px 0px;
  box-shadow:0px 0px 20px 0px yellow;
}

.main_star {
  color: gold;
  font-weight: 600;
}

.frist {
  color: white;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  max-width: 100%;
  text-align: center;
}

.frist_title {
  height: 45px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: dashed 1px aqua;
}

.frist_text {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.frist_btn {
  color: wheat;
  font-size: 18px;
  margin: auto;
  margin-top: 50px;
  padding: 8px 40px;
  border-radius: 10px;
  letter-spacing: 2px;
  transition: 0.9s all;
  border: solid wheat 2px;
  background-color: red;
  box-shadow: inset -240px 0px 1px 0px black;
}

.frist_btn:hover {
  color: aqua;
  background-color: blue;
  box-shadow: inset 240px 0px 1px 0px black;
}

.dev_card {
  min-height:50vh;
  margin: 0;
  padding: 0;
}

.info_logo {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.info_title {
  color: green;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 1px;
}

.info_card {
  width: 220px;
  max-width: 250px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  transition: 2s ease;
  border: solid teal 1px;
  background-color: white;
  box-shadow: inset 0px -410px 10px 0px white;
}

.info_card:hover {
  background-color: transparent;
  box-shadow: inset 0px 410px 10px 0px white;
}

.info_star {
  color: gold;
  font-weight: 600;
}

sss {
  color: green;
}

@media (min-width: 550px) {
.regs_card {
  padding-left: 3%;
  padding-right: 3%;
  }
}
